/* Гнучкі контейнери для адаптивності */
.img-container_gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px; /* Загальний відступ для компенсації margin у .img */
}

.img {
  flex: 0 0 calc(33.33% - 30px); /* 33.33% ширини екрану з відступами 30px між елементами */
  box-sizing: border-box;
  margin: 15px; /* Зовнішній відступ */
  overflow: hidden; /* Заборона виходження за межі контейнера */
}

.img img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out; /* Додавання плавного переходу при наведенні */
}

.img:hover img {
  transform: scale(1.1); /* Збільшення зображення при наведенні */
}

/* Стилі для модального вікна та його зображення */
.pop-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3498db; /* Голубий фон */
  align-items: center;
  justify-content: center;
}

.pop-up-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
