{% load static %}
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row" >
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="categories_post">
                        <img src="{%static 'images/blog/cat-post/cat-post-2.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="therapeutic"><h5>Терапевтична<br> стоматологія</h5></a>
                                <div class="border_line"></div>
                                <p>стоматологічні послуги<br> &<br>ціни</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="categories_post">
                        <img src="{%static 'images/blog/cat-post/cat-post-3.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="periodontology"><h5>Пародонтологічна <br> стоматологія</h5></a>
                                <div class="border_line"></div>
                                <p>стоматологічні послуги<br> &<br>ціни</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="categories_post">
                        <img src="{%static 'images/blog/cat-post/cat-post-1.jpg' %}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="orthopedic"><h5>Ортопедична<br> стоматологія</h5></a>
                                <div class="border_line"></div>
                                <p>стоматологічні послуги<br> &<br>ціни</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>