{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}

  {% include '_fragments/Banner Area End.html' %}

<div >
    <div class="whole-wrap" >
        <div class="container" >
            <div class="section-top-border"  >
                <div class="progress-table-wrap">
                    <div class="progress-table" >
                        <div class="table-head" style="background-color: #AFEEEE">
                          <div class="country" >Прайс від 23.03.2023</div>
                          <div class="serial">№</div>
                          <div class="country">Найменування послуг</div>
                          <div class="visit">Вартість у грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"><a style="color: #008000;" href="{% static 'file/periodontology_price.doc' %}" download>Завантажити прайс </a> </div>
                          <div class="serial">34</div>
                          <div class="country">Зняття штампованої коронки</div>
                          <div class="visit">250 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">35</div>
                          <div class="country">Зняття коронки: суцільнолитої, металокерамічна, металопластмаси </div>
                          <div class="visit">350 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">36-01</div>
                          <div class="country">Цементування коронки яка виготовлена в іншому закладі </div>
                          <div class="visit">350 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">36-02</div>
                          <div class="country">Цементування коронки після гарантійного строку</div>
                          <div class="visit">300 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">37</div>
                          <div class="country">Препарування одного зуба під коронку</div>
                          <div class="visit">50 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">38-01</div>
                          <div class="country">Зняття відбитків ложками</div>
                          <div class="visit">600 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">38-02</div>
                          <div class="country">Зняття відбитків ложками під вкладки </div>
                          <div class="visit">700 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">39-01</div>
                          <div class="country">Виготовлення суцільнолитої коронки з фіксацією</div>
                          <div class="visit">1500 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">39-02</div>
                          <div class="country">Виготовлення суцільнолитої коронки з напиленням </div>
                          <div class="visit">1700 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">40</div>
                          <div class="country">Виготовлення металокерамічної коронки, фіксація </div>
                          <div class="visit">2700 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">41</div>
                          <div class="country">Підготовка каналу під культову вкладку</div>
                          <div class="visit">50 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">42</div>
                          <div class="country">Зняття відбитків під одну культеву вкладку</div>
                          <div class="visit">400 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">43-01</div>
                          <div class="country">Виготовлення та фіксація культевої вкладки</div>
                          <div class="visit">550 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">43-02</div>
                          <div class="country">Виготовлення розбірна вкладка</div>
                          <div class="visit">650 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">43-03</div>
                          <div class="country">Виготовлення вкладка з опаком</div>
                          <div class="visit">730 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">44-01</div>
                          <div class="country">Зняття відбитків під знімне протезування</div>
                          <div class="visit">650 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">44-02</div>
                          <div class="country">Зняття відбитків індивідуальною ложкою, фіксація прикусних блоків, 1 щелепа </div>
                          <div class="visit">750 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">45-01</div>
                          <div class="country">Бюгель на кламєрах</div>
                          <div class="visit">5800 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">45-02</div>
                          <div class="country">Ацеталовий протез</div>
                          <div class="visit">5800 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                            <div class="country"></div>
                            <div class="serial">46</div>
                            <div class="country">Телескопічний ковпачок</div>
                            <div class="visit">1200 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">47-01</div>
                          <div class="country">Тимчасова коронка</div>
                          <div class="visit">800 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">47-02</div>
                          <div class="country">Фрезерована тимчасова коронка</div>
                          <div class="visit">900 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">48-01</div>
                          <div class="country">Відновлення протезу, тріщина</div>
                          <div class="visit">600 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">48-02</div>
                          <div class="country">Відновлення протезу, складне </div>
                          <div class="visit">800 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">49</div>
                          <div class="country">Частково змінний акриловий протез </div>
                          <div class="visit">3800 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">50</div>
                          <div class="country">Повний змінний акриловий протез</div>
                          <div class="visit">4400 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">51</div>
                          <div class="country">Нейлоновий протез</div>
                          <div class="visit">4800 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">52-01</div>
                          <div class="country">Мікропротез «Метелик»</div>
                          <div class="visit">2000 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">52-02</div>
                          <div class="country">Мікропротез більше одного зуба</div>
                          <div class="visit">2600 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">53</div>
                          <div class="country">Без металева кераміка Е-мах</div>
                          <div class="visit">5500 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">54</div>
                          <div class="country">Кераміка на основі цирконія</div>
                          <div class="visit">5500 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">55</div>
                          <div class="country">Суцільно цирконієва коронка</div>
                          <div class="visit">5700 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #E0FFFF">
                          <div class="country"></div>
                          <div class="serial">56</div>
                          <div class="country">Виготовлення силіконової каппи</div>
                          <div class="visit">1000 грн.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}