{% extends '_layouts/base.html' %}

{% block content %}
{% load static %}

  {% include '_fragments/Banner Area End.html' %}

<div >
    <div class="whole-wrap" >
        <div class="container" >
            <div class="section-top-border"  >
                <div class="progress-table-wrap">
                    <div class="progress-table" >
                        <div class="table-head" style="background-color: #3CB371">
                          <div class="country" >Прайс від 23.03.2023</div>
                          <div class="serial">№</div>
                          <div class="country">Найменування послуг</div>
                          <div class="visit">Вартість у грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"><a style="color: #008000;" href="{% static 'file/periodontology_price.doc' %}" download>Завантажити прайс </a> </div>
                          <div class="serial">25-01</div>
                          <div class="country">Шинування 2-х зубів</div>
                          <div class="visit">1400 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">25-02</div>
                          <div class="country">Шинування 4-х зубів</div>
                          <div class="visit">1800 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">25-03</div>
                          <div class="country">Шинування кожного наступного зуба</div>
                          <div class="visit">300 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">25-04</div>
                          <div class="country">Корекція шини 1-го зуба</div>
                          <div class="visit">300 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">26-01</div>
                          <div class="country">Пародонтологічна пов’язка (6-8 зібів)</div>
                          <div class="visit">400 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">26-02</div>
                          <div class="country">Одна щелепа</div>
                          <div class="visit">650 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">27-01</div>
                          <div class="country">Видалення гіпертрофованої частини ясен</div>
                          <div class="visit">400 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">27-02</div>
                          <div class="country">Видалення рухливої стінки зуба при вертикальному розколі</div>
                          <div class="visit">450 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">28</div>
                          <div class="country">Розкриття пародонтального абсцесу </div>
                          <div class="visit">600 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">29</div>
                          <div class="country">Вибіркове пришліфовка</div>
                          <div class="visit">50 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">30</div>
                          <div class="country">Зняття зубних відкладень ультразвуком, професійна чистка зубів, рекомендації профілактичних заходів</div>
                          <div class="visit"></div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">30-01</div>
                          <div class="country">І рівень, з одної щелепи</div>
                          <div class="visit">600 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">30-02</div>
                          <div class="country">ІІ рівень, з одної щелепи</div>
                          <div class="visit">700 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">30-03</div>
                          <div class="country">ІІІ рівень, з одної щелепи</div>
                          <div class="visit">800 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">30-04</div>
                          <div class="country">4-6 зубів</div>
                          <div class="visit">600 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">30-05</div>
                          <div class="country">Один зуб</div>
                          <div class="visit">60 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">31-01</div>
                          <div class="country">Професійна чистка зубів абразивною пастою, одна щелепа</div>
                          <div class="visit">250 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">32</div>
                          <div class="country">Відбілювання зубів, 1 шприц Opalescence</div>
                          <div class="visit">2500 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">33</div>
                          <div class="country">Внутрішньо канальне відбілювання, один сеанс</div>
                          <div class="visit">700 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">34-01</div>
                          <div class="country">Вектор - терапія дві щелепи, перший сеанс</div>
                          <div class="visit">4000 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">34-02</div>
                          <div class="country">Вектор – терапія дві щелепи, другий сеанс</div>
                          <div class="visit">2000 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">35-01</div>
                          <div class="country">Вектор – терапія одна щелепа, перший сеанс</div>
                          <div class="visit">2000 грн.</div>
                        </div>
                        <div class="table-row" style="background-color: #98FB98">
                          <div class="country"></div>
                          <div class="serial">35-02</div>
                          <div class="country">Вектор – терапія одна щелепа, другий сеанс</div>
                          <div class="visit">1300 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">36-01</div>
                          <div class="country">Вектор – терапія один сегмент, перший сеанс</div>
                          <div class="visit">1500 грн.</div>
                        </div>
                        <div class="table-row">
                          <div class="country"></div>
                          <div class="serial">36-02</div>
                          <div class="country">Вектор – терапія один сегмент, другий сеанс</div>
                          <div class="visit">900 грн.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}