{% extends '_layouts/base.html' %}

{% block content %}
    {% include '_fragments/Banner Area Starts.html' %}
    {% include '_fragments/Feature Area Starts.html' %}
<!--    {% include '_fragments/Welcome Area Starts.html' %}-->
    {% include '_fragments/Department Area Starts.html' %}
    {% include '_fragments/Specialist Area Starts.html' %}
<!--    {% include '_fragments/Patient Area Starts.html' %}-->
    {% include '_fragments/Hotline Area Starts.html' %}
    {% include '_fragments/News Area Starts.html' %}

{% endblock content %}